# Standard python .dockerignore
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/env
**/venv
**/pip-log.txt
**/pip-delete-this-directory.txt
**/.tox
**/.coverage
**/.coverage.*
**/.cache
**/nosetests.xml
**/coverage.xml
**/.cover
**/.git
**/.mypy_cache
**/.pytest_cache
**/.hypothesis
**/*.json
**/*.md
**/*.txt
**/*.cfg
**/.dockerignore

# Ignore all folders and files in src directory not needed for API image
.github
archive
directory_scraper
!directory_scraper/src
!directory_scraper/api_setup.py
!directory_scraper/path_config.py
!directory_scraper/__init__.py

directory_scraper/src/data_processing
!directory_scraper/src/data_processing/__init__.py
!directory_scraper/src/data_processing/process_data.py

directory_scraper/src/elasticsearch_upload
!directory_scraper/src/elasticsearch_upload/__init__.py
!directory_scraper/src/elasticsearch_upload/data_to_es.py

directory_scraper/src/google_sheets
!directory_scraper/src/google_sheets/__init__.py
!directory_scraper/src/google_sheets/google_sheets_utils.py

directory_scraper/src/google_sheets_api
!directory_scraper/src/google_sheets_api/__init__.py
!directory_scraper/src/google_sheets_api/app
!directory_scraper/src/google_sheets_api/requirements_api.txt
!directory_scraper/src/google_sheets_api/utils/*

directory_scraper/src/googlesheet

directory_scraper/src/utils
!directory_scraper/src/utils/file_utils.py
!directory_scraper/src/utils/json/org_mapping.json

directory_scraper/src/workflows

# Because for some reason .dockerignore files are intepreted instead of compiled or solved
**/*setup.py
!**/api_setup.py
**/*.egg-info
**/__pycache__
**/*.ipynb
**/*.log